@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@import url("http://fonts.cdnfonts.com/css/playfair-display");

body {
	background-color: rgba(34, 42, 54, 0.95);
}

img {
	width: 100%;
}

.w-100 {
	width: 100%;
}

.nav-link {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
	color: rgba(255, 255, 255, 1);
}

.navbar-brand {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 45px;
	color: rgba(255, 255, 255, 1);
}

.btn-contact {
	padding: 10px 20px;
	width: 152px;
	height: 50px;
	background: rgba(103, 108, 219, 1);
	color: rgba(255, 255, 255, 1);
}

.header {
	position: fixed;
	top: 0;
	width: 100%;
}

.banner-text {
	font-family: "Playfair Display";
	font-style: normal;
	font-weight: 700;
	font-size: 90px;
	line-height: 120%;
	color: rgba(255, 255, 255, 1);
}

.mt-110 {
	margin-top: 110px;
}

.small-text {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 180%;
	color: rgba(255, 255, 255, 0.5);
}

.banner {
	background-image: url("bannerpoto.svg");
	background-repeat: no-repeat;
	background-position: right;
	padding-top: 140px;
	padding-bottom: 140px;
}

.download {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 120%;
	text-decoration-line: underline;
	color: rgba(255, 255, 255, 1);
}

.container-choose {
	width: 100%;
	height: 200px;
	background-color: rgba(0, 0, 0, 1);
}
.icons{
    align-items: center;
    margin-left: 150px;
    padding: 7px;
    margin-top: 50px;
    left: 14.18%;
    right: 14.17%;
    top: 9.38%;
    bottom: 9.38%;
    Width: 71.65px;
    height: 81.25px;
}

/* .icons-list {
	list-style: none;
	justify-content: space-between;
	align-items: center;
} */

.head-text {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 180%;
	text-align: center;
	color: rgba(255, 255, 255, 1);
}

.body-text {
	margin-top: 76px;
}

.text-number {
	font-family: "Playfair Display";
	font-style: normal;
	font-weight: 700;
	font-size: 100px;
	line-height: 120%;
	color: rgba(103, 108, 219, 1);
}

.text-years {
	font-family: "Playfair Display";
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 180%;
	color: rgba(255, 255, 255, 1);
	text-align: center;
}

.years {
	margin-top: 200px;
}
.PR{
    position: relative;
}

/* .container-cards {
	position: absolute;
	width: 286.4px;
	height: 622.03px;
	left: 1021px;
	top: 1386.05px;
	background: rgba(103, 108, 219, 1);
} */
.lurji{
	width: 286.4px;
	height: 622.03px;
	left: 1021px;
	top: 1386.05px;
	background: rgba(103, 108, 219, 1);
}
.nacrisperi{
    width: 288px;
    height: 288px;
    left: 1032px;
    top: 1386px;
    background: #C4C4C4;
}
.bolotext{
    width: 490px;
    height: 252px;
    /* left: 404px;
    top: 77px; */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 180%;
    color: #FFFFFF;
}
.ricxvi{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 120%;
    color: #676CDB;

}
.lastpart{
    background-image: url(qvedapoto.svg);
    background-repeat: no-repeat;
    background-position: left;
}